Prepared By

*Asif Newaz, Lecturer, EEE, IUT*

# Intro

Data Structures are the basic building blocks of a programming language. The first step towards learning a programming language is to understand its data structures i.e. how data can be represented in that programming language.

Python is very easy to understand and quite similar to Matlab programming language that you are familiar with. We will first briefly look at some of the common data structures. Then we will move to some special libraries that we will need for developing an ML system.

There are many different data structures available in the Python programming language to represent and manipulate data efficiently. Below is a list of some of those and their MATLAB counterpart for your comparison.



1.   List or array(numpy)  <--> numeric array (matrix), cell array
2.   String <--> character array
3.   Tuple
4.   DataFrame (Pandas) <--> Table
5.   Dictionary <--> structure
6.   Sets

If you are completely new to python and want to learn it thoroughly, you can take an online course. My suggestions -


*   Python 3 Specialization - University of Michigan - Coursera
*   I used to teach Python previously in the 4th semester. You can find the course materials and lectures here - https://github.com/newaz-aa/Learn-Python-Basics


If you are not yet comfortable with programming, I would strongly suggest to start with MATLAB (it is very easy to learn). You can take the following course to learn MATLAB efficiently - [Learn MATLAB: A problem-solving approach](https://www.asifnewaz.com/teaching/learn-matlab)


---

# List

Python Lists are just like the arrays in Matlab. However, it has certain limitations.

It is mutable and can hold elements of different types.

In [ ]:
a = [1, 2,  3, "IUT", 2.3, 'Harry']
print(a)

[1, 2, 3, 'IUT', 2.3, 'Harry']

##**Indexing**

Indexing of python lists starts from 0, unlike Matlab where it starts from 1. Also unlike Matlab, you've to use square brackets for indexing. Moreover, python lists support negative indexing.

In [ ]:
# accessing a element from the list using index number
print("Accessing element from the list")
print("1st element:", a[0])
print("4th element:", a[3])

Accessing element from the list
1st element: 1
4th element: IUT

In [ ]:
# accessing a element using negative indexing
print("Accessing element using negative indexing")

# print the last element of list
print("last element:", a[-1])

# print the third last element of list
print("third last element:", a[-3])

Accessing element using negative indexing
last element: Harry
third last element: IUT

It can also contain another list inside it (list of lists). This is how you create a matrix in python.

In [ ]:
b= [2,3,[0,9],[0,0,9,9]]
b

[2, 3, [0, 9], [0, 0, 9, 9]]

For indexing a list of lists, you can use subset.

In [ ]:
print(b[-1])

[0, 0, 9, 9]

In [ ]:
print(b[-1][1])

0

##**Slicing array**



*   Caution: upper bound exclusive ---> does not inlcude the last one
*   Negative indexing is also possible
*   ':' sign indicates upto

In [ ]:
print(a)
print(a[2:4])
print(a[2:5])
print(a[2:])

[1, 2, 3, 'IUT', 2.3, 'Harry']
[3, 'IUT']
[3, 'IUT', 2.3]
[3, 'IUT', 2.3, 'Harry']

In [ ]:
print(a[:4])
print(a[:5])
print(a[2:-1])

[1, 2, 3, 'IUT']
[1, 2, 3, 'IUT', 2.3]
[3, 'IUT', 2.3]

In [ ]:
print(a[-1:-4])
# by default, it goes in the forward direction

[]

In [ ]:
a[-4:-1]

[3, 'IUT', 2.3]

In [ ]:
a[-1:-4:-1]
# the last portion indicates reverse direction

['Harry', 2.3, 'IUT']

In [ ]:
# you can also jump some steps
print (a[-1:-4:-2])
print (a[0:-1:3])

['Harry', 'IUT']
[1, 'IUT']

## **Changing array elements**

In [ ]:
a = [1, 2,  3, "IUT", 2.3, 'Harry']
print(a[2])
a[2] = 'max payne'
print(a)

3
[1, 2, 'max payne', 'IUT', 2.3, 'Harry']

In [ ]:
a[6]='alicient'
a
# understand and remember the error message for easy debugging

IndexError: list assignment index out of range

## **List Methods**

In [ ]:
dir(a)
# this will show you all the available methods to your object, which is a list in this case.

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a.append('alicient')
a

[1, 2, 'max payne', 'IUT', 2.3, 'Harry', 'alicient']

In [ ]:
a.reverse()
a

['alicient', 'Harry', 2.3, 'IUT', 'max payne', 2, 1]

In [ ]:
a.count()
# does not find the number of items in the list. Check the error message.
# it shows the number of times an item appeared in the list

TypeError: list.count() takes exactly one argument (0 given)

In [ ]:
a.count(1)

1

In [ ]:
a.remove(2)
a

['alicient', 'Harry', 2.3, 'IUT', 'max payne', 1]

In [ ]:
a.pop()

1

In [ ]:
a

['alicient', 'Harry', 2.3, 'IUT', 'max payne']

Python lists are less flexible than Matlab's array/matrix.

To have that kind of flexibility, you will need numpy array from numpy library which is developed keeping similarity with Matlab.

In [ ]:
# use dot then tab to see all the available methods to that object
a.

SyntaxError: invalid syntax (Temp/ipykernel_12760/1405779438.py, line 2)

no need to memorize all the possible methods. use documentation to find what you are looking for.

# Tuple

Python Tuple is similar to list but Tuples are immutable in nature i.e. the elements in the tuple cannot be added or removed once created. Just like a List, a Tuple can also contain elements of various types.


In Python, tuples are created by placing a sequence of values separated by ‘comma’ inside parentheses.



1.   item assignment - not allowed
2.   add item - not allowed
3.   delete item - not allowed

you've to first convert it into list to do such operations.

In [ ]:

# Creating a Tuple
c = ('IUT', 'Boardbazar', 100, -10)
print(c)

('IUT', 'Boardbazar', 100, -10)

In [ ]:
# Creating a Tuple with the use of list
at= tuple(a)
at

('alicient', 'Harry', 2.3, 'IUT', 'max payne')

In [ ]:
# indexing
print("First element of tuple")
print(c[0])

# Accessing element from last negative indexing
print("\nLast element of tuple")
print(c[-1])

First element of tuple
IUT

Last element of tuple
-10

In [ ]:
dir(c)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

Look at the error message. Item assignment is not allowed.

In [ ]:
print(c)
c[2] = 'voldemort'
print(c)

('IUT', 'Boardbazar', 100, -10)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Tuple.
a.count(4)

0

Tuple is used to store data, when the contents need not change. lower storage required. Use lists when you need flexibility. Use tuples when you need immutability and performance.

**python is an object-oriented programming language. so it creates an object upon which u can call on methods and have certain properties.**

# Alias

During variable assignment, you need to be careful of alias.

In [ ]:
a

['alicient', 'Harry', 2.3, 'IUT', 'max payne']

In [ ]:
b=a

In [ ]:
a.append('gray')
a

['alicient', 'Harry', 2.3, 'IUT', 'max payne', 'gray']

In [ ]:
b

['alicient', 'Harry', 2.3, 'IUT', 'max payne', 'gray']

In [ ]:
c=a.copy()
# makes a shallow copy

In [ ]:
a.remove('IUT')
a

['alicient', 'Harry', 2.3, 'max payne', 'gray']

In [ ]:
b

['alicient', 'Harry', 2.3, 'max payne', 'gray']

In [ ]:
c

['alicient', 'Harry', 2.3, 'IUT', 'max payne', 'gray']

Be careful when you use '=' sign.

# Strings

Python Strings are an immutable array of characters. Python does not have a character data type unlike Matlab. It is somewhat similar to Matlab's string.

In [ ]:
S = "Welcome to the ML/AI Lab"
print("Creating String: ")
print(S)

# Printing First character
print("\nFirst character of String is: ")
print(S[0])

# Printing Last character
print("\nLast character of String is: ")
print(S[-1])

Creating String:
Welcome to the ML/AI Lab

First character of String is:
W

Last character of String is:
b

In [ ]:
dir(S)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
S.islower()

False

In [ ]:
S.upper()

'WELCOME TO THE ML/AI LAB'

Strings are immutable

In [ ]:
S[2]= 'w'

TypeError: 'str' object does not support item assignment

In [ ]:
len (S)
# unlike Matlab

# Dictionary

Dictionary is used to store data values like a map. The data structures you are already familiar with cannot represent relation between two items. Python Dictionary is quite usedful in that regard.
In Dictionary, you have the key:value pair.

We can create a dictionary by using curly braces {  }.

In [2]:
# Creating a Dictionary
d = {'Name': 'Jon Snow',
     'Family': ['Stark', 'Targaryen'],
     'Age': 25,
     'Knowledge': 0,
     }
print("Creating Dictionary: ")
print(d)

Creating Dictionary:
{'Name': 'Jon Snow', 'Family': ['Stark', 'Targaryen'], 'Age': 25, 'Knowledge': 0}

## **Indexing**

Indexing of Python Dictionary is done with the help of keys. Dictionaries in Python are unordered collections and are indexed using keys, not numerical indices like lists.

In [3]:
d[0]

KeyError: 0

In [4]:
# accessing a element using key
print("Accessing a element using key:")
print(d['Name'])

# accessing a element using get()
# method
print("Accessing a element using get:")
print(d.get("Knowledge"))

Accessing a element using key:
Jon Snow
Accessing a element using get:
0

In [5]:
# key can also be numerical
dd = {'Name': 'Cavilrine', 1: [1, 2, 3, 4]}
dd

{'Name': 'Cavilrine', 1: [1, 2, 3, 4]}

## **Functionalities**

In [6]:
d.keys()

dict_keys(['Name', 'Family', 'Age', 'Knowledge'])

In [7]:
d.values()

dict_values(['Jon Snow', ['Stark', 'Targaryen'], 25, 0])

In [8]:
list(d.keys())

['Name', 'Family', 'Age', 'Knowledge']

In [9]:
tuple(d.values())

('Jon Snow', ['Stark', 'Targaryen'], 25, 0)

In [10]:
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [12]:
d.pop('Age')

25

# **Function**


 Creating and calling functions in python is very similiar to Matlab.  Python has well enriched libraries to call functions from.

In [16]:
def sum2num(number1, number2):
    result = number1 + number2
    return result

In [17]:
sum_result = sum2num(55,57)
print(sum_result)

112

In python, we use another name - 'methods'. You can call a method on an object. Something you have already done.

In [18]:
# Here, I first create a string object. Then call on a method already defined.

st= "We are Legion"
st.split()

['We', 'are', 'Legion']

In [19]:
dir(st)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [20]:
st.count(" ")

2

In [21]:
# I can also define my own method. then call it on a object.
# I want to know the total number of characters in a string

def count_st(s):
  space_count = s.count(" ")
  return len(s) - space_count

In [22]:
count_st(st)

11

# Libraries

Python libraries are like toolboxes filled with various functions that help you do specific tasks without having to create everything from scratch. These libraries are designed to make coding easier and more efficient for students and professionals alike. Here's a brief overview of some popular Python libraries:

1. **NumPy**: Great for mathematical computations. It helps you work with large arrays and matrices and perform numerical operations quickly.

2. **Pandas**: A library for data analysis and manipulation. It makes handling large datasets easy and provides functions to clean, filter, and analyze data.

3. **Matplotlib**: Used for plotting and visualization. It allows you to create graphs, charts, and other visual representations of data.

4. **SciPy**: Builds on NumPy and provides tools for scientific computing. It includes functions for optimization, integration, and statistical analysis.

5. **Scikit-Learn**: A library for machine learning. It offers simple tools to create and test various machine learning models.

6. **TensorFlow**: A library for deep learning developed by Google. It's used to create neural networks for tasks like image recognition, natural language processing, and more.

7. **Beautiful Soup**: Helps with web scraping. You can use it to pull data from websites and work with HTML and XML files.

8. **Flask**: A lightweight web framework. It's great for building small to medium-sized web applications quickly.

9. **Django**: A more robust web framework for building large-scale web applications with database support and other complex features.

10. **Tkinter**: Allows you to create graphical user interfaces (GUIs) for your Python applications.

We will rely a lot on some of these libraries, especially Scikit-learn and Pandas. These are especially designed for Machine Learning.

## **Importing libraries**

A library consists of many different functions. You can import entire libraries or specific functions, classes, or variables from them.

**1. Importing the entire library**

You can import the entire library and use its functions or classes by calling them from that library.

In [23]:
import math
# https://docs.python.org/3/library/math.html

In [26]:
math.pow(2,8)
# to use the method 'pow', you first have to import the math library into your workspace

256.0

**2. Importing specific functions or classes**

You can import only the functions or classes you need from a library to avoid importing everything.

In [27]:
from math import sqrt
sqrt(256)

16.0

In [28]:
math.sqrt(256)

16.0

In [29]:
ceil(2.4)
# ceil function is within math library. You have to specify it directly to use it.

NameError: name 'ceil' is not defined

In [30]:
math.ceil(2.4)

3

**3. Importing with an alias**

You can give the library or module an alias (a shorter, more convenient name). This practice is frequently used for simplicity.

In [33]:
import numpy as np
import matplotlib.pyplot as plt

**4. Importing all functions**

You can import everything from a library using the wildcard '*', but this is usually discouraged.

In [34]:
from scipy import *
# https://docs.scipy.org/doc/scipy/reference/stats.html