*Prepared by*

*Asif Newaz*

*Lecturer, EEE, IUT*

In [ ]:
import numpy as np
import pandas as pd

# Question - 01

A numpy array is given. Find the maximum value of -

*   the whole matrix
*   column-wise
*   row-wise

In [ ]:
mat= np.random.randint(3,100,(3,7))
mat2 = np.random.randint(200,2000,(1,5))

# write your answer below

# Question - 02

Abbreviate the given strings.

In [ ]:
s1= 'dhaka University'  # output= 'DU'
s2= 'Laser Interferometer Gravitational-Wave Observatory'   # output = 'LIGO'

# write your answer below

# Question - 03

Given a tuple of integers, sort them based on the absolute value of the numbers. The output should also be a tuple.

In [ ]:
m=(3,4,0,-4,-2,1,6)    # output = (0, 1, -2, 3, 4, -4, 6)

# write your answer below -

# Question - 04

A list of length 2n is given.

a=[x1,x2,....,xn,y1,y2,...,yn].


You need to create a dataframe object from the given list with two columns. Each column will have half the items of the list. Column-1 will contain x1, x2, ...., xn. Column-2 will contain y1, y2, ...., yn.

Name of the columns should be - Col1 and Col2.

In [ ]:
a=[3,6,1,2,'a','c','b','z']

# write your answer below -

# Question - 05

A numpy array is given. Write a function that produces two outputs -

*   the index of all non-zero elements in the array
*   the index of all positive elements in the array

In [ ]:
# write your answer below -

def find_elem(a):

  return ind_non_zero, ind_pos

In [ ]:
a= np.random.randint(-30,10,(9,7))
b = np.random.randint(-30,0,(5,12))

# call your function here

# Question - 06

Two lists are given. Find out how many numbers in the first list are higher or equal than the corresponding numbers in the second list.

n.b. you cannot use for loop for this task.

In [ ]:
x1=[3,7,5,1,8,10,-4,-6]
x2=[10,2,0,4,1,6,-4,-5]

# write your answer below -

# Question - 07

*Iccanobif Numbers*

Given a number n. Write a function to find first n Iccanobif Numbers.
Iccanobif Numbers are similar to Fibonacci Numbers. The K-th Iccanobif number can be obtained by addition of previous two numbers after reversing their digits.

In [ ]:
def iccanobif(n):

  return

# Question - 08

Given a list of names of students, add a 'Mr.' in front for male and a 'Ms.' for female.

In [ ]:
name=[('Evaaaaaa','female'),('Wall-e','male'), ('Optimus', '  male')]

#ans= ['Ms. Evaaaaaa', 'Mr.Wall-e']
#write your answer below --

# Question - 09

Create a multiplication table from 1 to 15.

*   don't use any for loop
*   use broadcasting

Hint: np.newaxis



       [[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [ 2,  4,  6,  8, 10, 12, 14, 16, 18],
       [ 3,  6,  9, 12, 15, 18, 21, 24, 27],
       [ 4,  8, 12, 16, 20, 24, 28, 32, 36],
       [ 5, 10, 15, 20, 25, 30, 35, 40, 45],
       [ 6, 12, 18, 24, 30, 36, 42, 48, 54],
       [ 7, 14, 21, 28, 35, 42, 49, 56, 63],
       [ 8, 16, 24, 32, 40, 48, 56, 64, 72],
       [ 9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [ ]:
a= np.arange(1, 15)

# write your code here

# Question - 10

Create a dataframe from the dictionary given. Change the dataframe's last column's name from 'score' to 'rating1'.

In [ ]:
data = {
    'Name': ['Bruce', 'Clark', 'Peter', 'Gandalf'],
    'Identity': ['Batman', 'Superman', 'Spiderman', 'Wizard'],
    'Actors': ['Affleck', 'Henry', 'Maguire', 'Ian'],
    'Age': [44, 27, 22, 50000],
    'Score': [10, 9.5, 9, 9.5]
}
df= pd.DataFrame(data)
df

      Name   Identity   Actors    Age  Score
0    Bruce     Batman  Affleck     44   10.0
1    Clark   Superman    Henry     27    9.5
2    Peter  Spiderman  Maguire     22    9.0
3  Gandalf     Wizard      Ian  50000    9.5

In [ ]:
# write your code here

# Question - 11

Add a new column to your dataframe termed 'Rating-2.

rating-2 = [9, 9, 7.5, 8.5]

In [ ]:
# write your code here

# Question - 12

Replace the rating1 and rating2 columns with a new column name 'avg_rating'. It will contain the average of those two column values.

In [ ]:
# write your code here

# Question - 13

Replace the 3rd row with the following information.

[Celebrimbor, Elf, N/A, 2000, 8]

In [ ]:
# write your code here

# Question - 14



1.   Create two separate bar plots from the Age and Rating columns [Use subplot]

2.   Create a single bar plot from the Age and Rating columns, both should be placed pair-wise.

n.b. The scale will create an issue. you may normalize it to view properly.

In [ ]:
# write your code here

# Question - 15

In Cryptography, Caesar Cipher is one of the simplest form of encryption technique. The concept is very simple. You shift the given message by a fixed degree left or right.

For Instance,    

*   message= 'fire'
*   degree = +3
*   encrypted message = 'iluh'

You only shift the alphanumeric characters; not punctuation or whitespace characters.

The characters is so be shifted within the same type i.e. a lowercase should be shifted to a lowercase, a numeric to a numeric.

For example, If you've ('z',+2), it should be shifted to ---> 'b'

Hints:
*   Take a look at dir(str) to see the methods that can be used to identify the type of string.
*   ord(__) provieds the ascii value of a character.
*   Careful!!, you cannot get vectorized output directly in python.
*   chr(__) converts ascii value back to its character.

In [ ]:
message= 'Radioactive'
degree = +7

# write your answer below -

In [ ]:
message= '''
Outta order? I'll show you outta order!
You don't know what outta order is, Mr. Trask!
I'd show you but I'm too old; I'm too tired; I'm too fuckin' blind.
If I were the man I was 5 years ago I'd take a FLAME-THROWER to this place!
Outta order. Who the hell you think you're talkin' to?
I've been around, you know? There was a time I could see.
And I have seen boys like these, younger than these, their arms torn out, their legs ripped off.
But there isn't nothin' like the sight of an amputated spirit; there is no prosthetic for that.
You think you're merely sendin' this splendid foot-soldier back home to Oregon with his tail between his legs,
but I say you are executin' his SOUL!!
And why?! Because he's not a Baird man!
Baird men, ya hurt this boy, you're going to be Baird Bums, the lot of ya.
And Harry, Jimmy, Trent, wherever you are out there, **** ***, too!
'''
degree = -12

# write your answer below -