# Question: 01

A list is provided. Find the 2nd and 8th element from that list.

In [ ]:
a=[2,5,3,'h',';',"k",7,10,[5,6]]

# write your answer below -
print(a[0])
print(a[1])

2
5

# Question: 02

A string is provided. Find the 1st and last element from that string.

In [ ]:
b='coffee'

# write your answer below -

# Question: 03

Given a list, convert it into a numpy array.

In [ ]:
m=[3,4,0,-4,-2,1,6]

# write your answer below -

# Question: 04

Given a list of integers, find the negative elements from the list.

In [ ]:
p=[-3,7,-4,0,1,6,-9]

# write your answer below -

# Question: 05

A list x is provided. Extract 25 and 'dec' from it.

In [ ]:
x=['Nov', (5,15,25), ['p','q',[100,1000,['dec','jan']]],'apex']

# write your answer below -

# Question: 06

A list is provided.
1. First invert it.
2. Then join it to the original list.
3. Create a replica of it and add it to the end.

Test Case:

a= [3,4,10]

1=> [10,4,3]

2=> [3,4,10,10,4,3]

3=> [3,4,10,10,4,3,3,4,10,10,4,3]

In [ ]:
# write your code here

# Question: 07

The list 'movie' contains names of some movies. The list 'score' contains rating of those movies. Sort the score list in a descending manner. Then sort the movie list according to their ratings.

In [ ]:
movie=['Avatar','Lost in translation','Enemy','Coherence','Avengers', 'Zack Snyders Justice League']
score= [9,10,8.5,8,7,10]
# write your code here

# Question: 08

Given a list of integers, for each of the elements:
* if an item is divisible by 2, square it
* if it is divisible by 3, cube it
* otherwise, remove the item from the list

In [ ]:
m=[3,4,0,-4,-2,1,6]

# write your answer below -

# Question: 09

Write a function that takes a list as an input and returns the top 3 elements from the list. The list may contain strings (ignore them).

In [ ]:
p=[-3,7,-4,0,1,6,-9, 'apple', 'mango', [28732, 23, 24556]]
q= [ 29, 22, 24, 5]
# write your function here, then call it in the next cell for bath cases

# Question: 10

A list is provided. Remove any item which is not a string.

Hint: isinstance

In [ ]:
x=['Nov', (5,15,25), ['p','q',[100,1000,['dec','jan']]],'apex']

# write your answer below -

# Question: 11

Write a function that takes a list of years and returns a logical array corresponding to the original list based on whether each item(year) in the list is a leap year or not.

In [ ]:
def find_leap_year():

  return

In [ ]:
year=[2020,2015,2014,2000,1900,1950,1944,1896,1800,1820,1600]

# Question: 12

Write a function that takes two lists. First calculate the pairwise product. Then find the average value and summation of those products. Return these two values from the function.

In [ ]:
# write your function here

In [ ]:
x1=[3,7,5,1,8,10]
x2=[10,2,0,4,1,6]